

.custom-form-bookeasy{
    margin-bottom: 10px;
     clear: both;
}

.custom-form-bookeasy h3{
    position: relative;
    margin-bottom: 20px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 5px 12px;
}

.custom-form-bookeasy p.description{
    padding-bottom: 0;
}

.custom-form-bookeasy input[type=text]{
    width: 500px;
}

.custom-form-bookeasy textarea{
    font-size: 12px;
}

.inner .inner-inner{
    padding: 10px;
}

#sync-message{
    background: #eee;
    padding: 10px;
}

.custom-results h3{
    margin-left: 0;
    margin-bottom: 5px;
}

.custom-mapping th{
    display: none;
}

.custom-mapping td{
    padding:0;
}

.custom-mapping td td{
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #ccc;
}

.custom-mapping h4{
    margin-bottom: 0;
}